.hero-section {
  height: 100vh;
  display: flex;
  font-family: "Noto Sans Mono";
}


/* Left Half of screen */
.hero-left {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/left-hero.png");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.color-overlay {
  background-color: rgba(40, 238, 167, 0.93);
  background-image: none;
  padding-top: 120px;
  padding-bottom: 60px;
}

.hero-left-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo{
    position: absolute;
    z-index: 2;
    top: 5%;
}

.hero-title{
    align-self: flex-end;
} 

.hero-badge{
   align-self: flex-end;
   display: flex;
   align-items: flex-end;
   transform: translateX(0px)translateY(20px);
   font-size: 36px;
   color: white;
}

.sentence {
  position: relative;
  color: black;
}


.sentence::after {
content: '';
position: absolute;
right: -20px;
bottom: 6px;
width: 18px;
height: 6px;
background-color: white;
animation: blink 0.5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.hero-subtitle1{
    width: 250px;
    height: 33px;
    color: white;
    background-color: #363738;
    padding: 0 10PX;
}

.hero-description{
    width: 550px;
    height: 96px;
    margin: 40px;
    font-size: 16px;
    line-height: 1.5;
    /* transform: translateX(200px); */
}

.align-right{
    text-align: right;
}

.hero-link{
    width: 155px;
    height: 46px;
    color: aliceblue;
    background-color: #2b2c2c;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
   align-self: flex-end;
}

.right{
    margin-right: 50px;
}



/* Right Half of screen */
.hero-right {
    width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(35, 35, 35, 0.85),
      rgba(35, 35, 35, 0.85)
      ),
      url("../assets/images/right-hero.png");
      background-size: cover;
      align-items: center;
      padding-top: 125px;
      padding-bottom: 60px;
      display: flex;
    }

    .hero-subtitle2{
        width: 250px;
        height: 33px;
        color: #363738;
        background-color: white;
        padding: 0 10PX;
    }
    
    .left{
        margin-left: 50px;
    }

    .hero-description2{
        width: 550px;
        height: 96px;
        margin: 40px;
        font-size: 16px;
        line-height: 1.5;
        color: white;
    }
    .hero-link2{
        width: 155px;
        height: 45px;
        background-color: aliceblue;
        color: #2b2c2c;
        padding-top: 10px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
    }

    .menue{
        display: inline-block;
        position: absolute;
        top: 5%;
        right: 18%;
        z-index: 2;
        background-color: #363738;
        border-radius: 8px;
    }

    /* Burger Menue */
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .overlay-content {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        font-size: 30px;
        padding: 8px;
        text-decoration: none;
        color: #a5a6a9;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
      
      .menue-left{
          width: 50%;
          text-align: left;
          margin-left: 170px;
        
        }
        .menu-right{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }

        .login-container{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          width: 500px;
          height: 400px;
          background-color: #363738;
          border-radius: 25px;
        }

        .button-wrapper{
          width: 100%;
        }

        .login-title{
            text-align: left;
            font-size: 22px;
            font-weight: 900;
            line-height: 1.4;   
            color: white;
            transform: translateX(50px)translateY(30px);
        }

        .login-container > h1 {
          transform: translateX(50px)translateY(0px);
          font-size: 18px;
          font-weight: 700;
          color: white;
        }

        .login-container>h3{
          transform: translateX(50px)translateY(25px);
          font-size: 16px;
          color: #a5a6a9;
          margin-top: -45px;
        }

        .button{
          border: 0;
          display: inline-block;
          padding: 18px;
          width: 80%;
          margin: 7px;
          color: #ffffff;
          cursor: pointer;
        }
        .green{
          background-color: rgba(40, 238, 167, 0.93);
        }
        .red{
          background-color: #fb4747;
        }

        .hr-container {
          width: 100%;
          height: 160px;
          display: flex;
          align-items: center; 
          background-color: #31b7f0;
          margin-top: 30px;
          border-radius: 20px;
      }
      
      .hr-img {
        transform: translateX(20px);
      }
      
      .hr-text {
          flex: 1; 
          color: white;
          margin-left: 50px;
          text-align: left;
      }
      
      .hr-text h2 {
          font-size: 26;
          margin-bottom: 10px;
          color: white;
      }
      
      .hr-text h3 {
          font-size: 16px;
          color: white;
          font-weight: 200;
      }

      .youtube-section{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f1f2f3;
      }

      .youtube-head{
        width: 61%;
        height: 40px;
        display: flex;
        transform: translateY(-40px);
        align-items: center;
        justify-content: space-between;
      }

      .yhead-title{
        line-height: 1.4;
        text-align: left;
        font-size: 24px;
        font-weight: 900;
        font-family: "Noto Sans Mono";
      }

      .y-symbol{
        color: rgba(40, 238, 167, 0.93);
         font-size: 36px;
         font-weight: 800;
          padding: 10px 20px;
      }

      .circle{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-left: 8px;
      }
      .black{
        background-color: black;
      }
      .grey{
        background-color: rgb(187, 181, 181);
      }
      .green{
        background-color: rgba(40, 238, 167, 0.93);
      }
      .ytext-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .anchor-colors{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100%;
      }
      .video-container{
        object-fit: fill;
        border: 15px solid rgba(40, 238, 167, 0.93);
        border-radius: 20px;
      }